
<h1><i class="fa fa-tasks" aria-hidden="true"></i> About Us 
</h1>


<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../assets/sebdev.jpg" alt="dev-photo">
      <div class="caption">
        <h3 class="text-center">Hello dear User,</h3>
        <p class="text-center">I am Seb, the one who tried to create this app for you. So please enjoy and if you have any questions/ problems you can contact me at: sebastian.teodorescu19@gmail.com . Thank you!</p>
        <p><%= link_to "Back", :back, class: "btn btn-primary btn-block" %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-9">
    <div class="thumbnail">
      <div class="caption">
        <h3>OprganizeApp <i class="fa fa-copyright" aria-hidden="true"></i></h3>
        <strong>Is an application created to help users to keep the track of their tasks. It allows the user not only to create tasks but to monitorize their progress by assiging them a stance: to do, doing or done. The modern and minimalistic interface makes this app very simple to use. So, don't hasitate and create an account and start traking your tasks!</strong>
       
      </div>
    </div>
  </div>
</div>











