
<div class="jumbotron">
  <h1><i class="fa fa-tasks" aria-hidden="true"></i>
OrganizApp</h1>
  <p>This is a smart to do list <i class="fa fa-diamond" aria-hidden="true"></i>
 Ruby on Rails Application. </br>
 Hit the About button from the top right corner to learn more.</p>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>



